<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/main.css') }}">
  </head>
  <style>
    .table-wrapper {
      width: 100%;
      /* max-width: 500px; */
      overflow-x: auto;
    }
  </style>
  <body>
    <div class="header">
      <img src="static/images/epl.png" alt="logo" />
      <h1>2023-24 EPL Pool</h1>
    </div>
    <div class="table-wrapper">
      {% for table in tables %}
        <br></br>
                  {{ table|safe }}
      {% endfor %}
    </div>
  </body>
</html>
